{% extends 'layout.html' %}

{% block content %}

{% load static %}

      <br>

      <link href="{% static 'css/styles.css' %}">


      <style>
        body {
          background-color: #046334;
        }
      </style>
  
  <div class="container-fluid">
      <div id="committeebox" class="row" style="border-bottom: solid 4px white;  align-items: center;">
        <div class="col-8">
          <br>
          <br>

          <h1 id="comm-title" style="font-family: 'Poppins', sans-serif; font-weight: 900px; color:white;">ARAB LEAGUE <br>& OBSERVERS</h1>         
        </div>
        <div class="col-4">
          <img style="border-radius: 200px; width:100%; height:auto; " src="{% static 'image/arableagueflag.png'%}">
        </div>
      </div>
    <div class="row" style="text-align: center;">
      <h1 id="latinquote" style="font-style:italic; color:white;">'Ad futurum Levant!'</h1>
    </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info">Freeze Date: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white;  padding:10px;">24th February 1949</h1>
        </div>
      </div>
    </div>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info" ><br><br>Agenda: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white; padding:10px;">War for Israeli Independence
            <br><br>Negotiations for Armistices of 1949
            </h1>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container text-center" id="committee-desc" style="padding: top 30px; color:white;">
      <p> The Arab League, formally the League of Arab States, is an intergovernmental organisation of 22 Arab nations in North Africa and the Middle East, aiming to strengthen relations, coordinate policies, and cooperate on various issues, including political, economic, and cultural matters. The Arab League & Observers is a specially formed committee towards the end of the First Arab-Israeli War, specifically the War for Israeli Independence, to determine a conclusion to the War in the form of an Armistice. Israel has established hegemony over the Levant and has substantial influence in the Arab League & Observers’ special conference.
      </p>
    </div>

    <br>
    <br>

    <div class="container text-center">
      <h1 style="font-family: 'Poppins', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
      <h4 style="font-family: 'Poppins', sans-serif; color:white; font-weight:900px;">will be provided at a later date...</h4>
      <br>
      <br>
      <br>

      <!-- <div class="row">
       
        <div class="col">
          <div class="card" style="width: 35%">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Study Guide</h5>
              <p class="card-text">The study guide for the committee provides all the neccesary information regarding the committee.</p>
              <a href="#" class="btn btn-primary stretched-link">Go to the Study Guide</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 35%;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Committee Matrix</h5>
              <p class="card-text">The matrix for the committee provides all the allocations in the committee.</p>
              <a href="#" class="btn btn-primary stretched-link">Go to the Committee Matrix</a>
            </div>
          </div>
        </div>

      </div>
    </div> -->


{% endblock %}