{% extends 'layout.html' %}


{% block title %}
  <title>ECOSOC</title>
{% endblock %}

{% block content %}

{% load static %}
      <br>
      <br>



      <style>
        body {
          background-color: #d69d36

;
        }
      </style>
  
<div id="commbox">
    <div class="container-fluid">
        <div class="row" style="border-bottom: solid 4px white;" id="committeebox">
          <div class="col-8">
            <h1 style="font-family: 'Special Gothic Expanded One', sans-serif; font-weight: 900px; color:white;" id="comm-title">UNITED NATIONS <br>ECONOMIC AND SOCIAL COUNCIL</h1>
          </div>  
          <div class="col-4">
            <img style="border-radius: 800px; width:85%; height:auto; border:7px solid #d69d36;" src="{% static 'image/ecosoc.png'%}">
          </div>
        </div>
      <div class="row" style="text-align: center;">
        <h1  id="latinquote" style=" font-style:italic; color:white;">'Pro meliore mundo!'</h1>
      </div>
      </div>
  
      <br>
      <br>
      <br>
  
      <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
        <div class="row">
          <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
            <h1 class="info">Freeze Date: </h1>
          </div>
          
          <div class="col">
            <h1 class="info" style="color:white;  padding:10px;"> April 1, 2025
            </h1>
          </div>
        </div>
      </div>
  
      <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
        <div class="row">
          <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
            <h1 class="info"><br><br>Agenda: </h1>
          </div>
          
          <div class="col">
            <h1 class="info" style="color:white; padding:10px;">Universal Basic Income:<br><br> Exploring the Feasibility and Impact of an Unconditional Income for
All Citizens
              </h1>
          </div>
        </div>
      </div>
  
      <br>
      <br>
      <br>
  
      <div id="committee-desc" class="container text-center" style="padding: top 30px; color:white;">
        <p>Welcome to the United Nations Economic and Social Council, where nations are coming together to address the challenges of illegal immigration. With a focus on safeguarding immigrants' rights, delegates will negotiate policies that ensure fair treatment while navigating the complexities of national security and international obligations.
        </p>
      </div>
  
      <br>
      <br>
  
      <div class="container text-center">
        <h1 id="commsrctitle" style="font-family: 'Special Gothic Expanded One', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
        <br>
        </div>
  
</div>

<div id="commbox-mob">
  <div class="container-fluid">
    <div class="row" id="committeebox">
      <div class="container text-center">
        
        <div class="col-12">
        
          <img style="border-radius: 200px; width:100%; height:auto;" src="{% static 'image/ecosoc.png'%}">
        
          <h1 id="comm-title" style="font-family: 'Special Gothic Expanded One', sans-serif; font-weight: 900px; color:white; align-self:center;">UNITED NATIONS <br>ECONOMIC AND SOCIAL COUNCIL</h1>         
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <h1  id="latinquote" style=" font-style:italic; color:white;">'Pro meliore mundo!'</h1>
    </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info">Freeze Date: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white;  padding:10px;"> April 1, 2025
          </h1>
        </div>
      </div>
    </div>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info"><br><br>Agenda: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white; padding:10px;">Illegal Immigration<br><br>
            Policies passable by countries as a whole to ensure the safeguarding of immigrants, as well as considering countries’ treatment of immigrants.
            
            
            
            </h1>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div id="committee-desc" class="container text-center" style="padding: top 30px; color:white;">
      <p>Welcome to the United Nations Economic and Social Council, where nations are coming together to address the challenges of illegal immigration. With a focus on safeguarding immigrants' rights, delegates will negotiate policies that ensure fair treatment while navigating the complexities of national security and international obligations.</p>
    </div>

    <br>
    <br>

    <div class="container text-center">
      <h1 id="commsrctitle" style="font-family: 'Special Gothic Expanded One', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
      <br>
      </div>

</div>

<div class="container align-items-center" id="commsrc" >
  <div class="row">
   
    <div class="col" >
      <div class="card" >
        <img src="{% static 'image/econ.jpg' %}">
        <a target="_blank" href="https://drive.google.com/drive/folders/1m4b8fxKdC9sUew7Qu0wmS6zzb7CFmg6y?usp=drive_link" class="btn btn-primary stretched-link" style="background: transparent; color:transparent;"></a>
        </div>
      </div>
    </div>

  </div>



{% endblock %}
