{% extends 'layout.html' %}

{% block content %}

{% load static %}



<div id="welcome-container" class="container text-center">
    



  <div class="row" >
      <div class="col">
        <br>
        <br>

        <br>
        <br>

        <img class="img-fluid" id="statecraftlogo" src="{% static 'image/logo.png'%}" style="border-radius: 200px;">
        
        <br>
        <br>

        <h1 id="title-text" >STATECRAFT 2025</h1>
        <br>
        
        <h4 id="subtitle-text" style="color:#ddc161">Lilavatibai Podar's Signature Model United Nations</h4>
        <br>

        <h4 id="subtitle-text-2" style="color:#7da2c7">| Idea. Initiative. Impact. |</h4>

        <br>
        <br>


      </div>
    </div>
  </div>

  <div class="container text-center" id="mobileabout-section">
    <div class="row">
      <div class="col-12" id="questionmob">
        <br>
        <br>
        

        <h1 style="font-size:45px; text-decoration: underline 2px white;">ABOUT US</h1>              
      </div>

      <div id="answermob" style="color:white;">
        <p>Statecraft MUN isn’t just another conference—it’s the signature Model United Nations of Lilavatibai Podar High School. It’s where diplomacy meets drama (the good kind), and passionate delegates come together to dive headfirst into the world’s most pressing issues—with just the right mix of formality, fire, and flair.
            Born from a tradition of excellence and driven by a student body that genuinely cares about the art of debate, Statecraft has carved out a name for itself as a conference that balances rigorous intellectual challenge with warmth, inclusivity, and a spark of that classic Podar spirit.</p><p>It’s more than a simulation—it’s a space to grow, to lead, to stumble and shine.</p>

                <p>Because here at Lilavatibai Podar, we don’t just talk about changing the world—we actually start practicing how.</p>
               </p>
            </div>
    </div>
  </div>

  <div class="container-fluid" id="about-section">
    <div class="row">
      <div class="col-6" id="question">
        <br>
        <br>
        

        <h1 style="color:#7da2c7">ABOUT US</h1>              
      </div>

      <div class="col-6" id="answer">
        <p>Statecraft MUN isn’t just another conference—it’s the signature Model United Nations of Lilavatibai Podar High School. It’s where diplomacy meets drama (the good kind), and passionate delegates come together to dive headfirst into the world’s most pressing issues—with just the right mix of formality, fire, and flair.
            Born from a tradition of excellence and driven by a student body that genuinely cares about the art of debate, Statecraft has carved out a name for itself as a conference that balances rigorous intellectual challenge with warmth, inclusivity, and a spark of that classic Podar spirit.</p><p>It’s more than a simulation—it’s a space to grow, to lead, to stumble and shine.</p>

                <p>Because here at Lilavatibai Podar, we don’t just talk about changing the world—we actually start practicing how.</p>
               </p>
            </div>
    </div>
  </div>




  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-title" style="color:#7da2c7">LETTER FROM THE</h1>
          <h1 id="letter-secondary-title" style="text-decoration: underline solid 2px #7da2c7; color:#7da2c7">SECRETARY-GENERAL</h1>
          <div class="col-6" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/patel.jpg'%}">
            <h3 id="secgen-name">Arjun Patel,</h3>
            <h3 id="secgen">Secretary-General</h3>
          </div>
          <div id="actual-letter" class="col-6">
            <p>Dear Delegates,</p>
            <p>It gives me immense pride and happiness to be able to say, welcome to Statecraft 2025!
            </p>
            <p>A lifelong Podarite, I’ve gone from watching seniors walk the corridors in suits, debating with awe, to becoming one of them—and now, having the honor of serving as Secretary General of the school’s signature Model United Nations. This thrilling journey is culminating for me in this grand event, but for you, it’s only just beginning.
            </p>
            <p>On April 26, you will get introduced to an exhilarating world of debating, discussing, lobbying, crisis resolution, and moreover, the super fun experience that is Model United Nations. 
            </p>
            <p>Model United Nations might sound intimidating. They at times are! But at Lilavatibai Podar High School, we foster an environment of resilience and strength, and you, dear delegate, are no less! Every single delegate has potential to excel; from debate to paperwork to lobbying, you will discover your flair!
            </p>
            <p>Remember, this event isn’t about winning or losing; it’s about discovering your flair, your passion, and what makes you you. Go there, be passionate, and debate. 
            </p>
            <p>As the delegate who was asked to represent a terrorist organisation in his first conference, I am no stranger to MUNs throwing lemon trees at you instead of lemons. But as they say, when life gives you lemons, make lemonade. 
            </p>
            <p>As my Deputy Secretary General put it, you don’t need to know every UN clause or have a perfect speech memorised. You just need to be curious, open-minded, and brave enough to raise your hand.
            </p>
            <p>I am looking forward to seeing you on April 26th, and remember: Don’t let anyone put you down. Be bold, be you. 
            </p>
            <p>Yours truly,<br>
                Arjun Patel<br>
                Secretary General<br>
                Statecraft 2025</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-title" style="color:#7da2c7; ">LETTER FROM THE</h1>
          <h1 id="letter-secondary-title" style="color:#7da2c7; text-decoration: underline 2px #7da2c7;">DEPUTY SECRETARY-GENERAL</h1>
          
          
          <div id="actual-letterp2" class="col-4">
            <p>Dear Delegates,</p>
            <p>Welcome to Statecraft 2025—where diplomacy meets drama, resolutions meet resistance, and caffeine meets crisis.</p>
            <p>I’m Para Thanavala, your Deputy Secretary-General, and let me start by saying: I love politics. Like, genuinely. The debates, the nuance, the chaos, the coffee-fueled midnight unmoderated caucuses—every single bit of it. And I’m thrilled to help you fall in love with it too.
            </p>
            <p>Now, here’s what I want you to know: I walk into every room knowing exactly who I am, and I want you to do the same. Whether this is your first committee or your fifth, this is your arena. Your space to grow, to mess up gloriously, to fight passionately, and to come out stronger.
            </p>
            <p>MUNs can be intimidating. But here’s the twist: it’s also where confidence is built. It’s where delegates who once whispered their policy points end up commanding entire blocs. And I want to be that safe corner in the storm for you—the person you can ask anything, talk through strategies with, or just find for a pep talk and help with rules of procedure.
            </p>
            <p>You don’t need to know every UN clause or have a perfect speech memorized. You just need to be curious, open-minded, and brave enough to raise your hand.
            </p>
            <p>So go in loud. Go in curious. Go in as you are.</p>
            <p>And if anyone tells you you’re "too much" for MUN? Tell them to take it to the committee floor—I’ll back you. This is your space. And I’m here—every step of the way—to help you thrive in it.
            </p>
            <p>Let’s make diplomacy daring. Let’s make this unforgettable.
            </p>

            <p>With conviction, clarity, and confidence,<br>
                Para Thanavala,<br>
                Deputy Secretary-General<br>
                Statecraft 2025.</p>
          </div>
          <div class="col-6" id="marginadd">
            
            <img id="parakiimg" class="img-thumbnail" src="{% static 'image/thalaiva.jpg' %}">
            <h3 id="secgen-name">Para Thanavala,</h3>
            <h3 id="secgen">Deputy Secretary-General</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
<!--mobile pages-->
  

  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif;">LETTER FROM THE</h1>
          <h1 id="letter-secondary-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif;">SECRETARY-GENERAL</h1>
          <div class="col-12" id="marginadd">
            
            <br>
            <br>

            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/patel.jpg'%}">
            <h3 id="secgen-name">Arjun Patel,</h3>
            <h3 id="secgen">Secretary-General</h3>

            <br>
            <br>

            <p>Dear Delegates,</p>
            <p>It gives me immense pride and happiness to be able to say, welcome to Statecraft 2025!
            </p>
            <p>A lifelong Podarite, I’ve gone from watching seniors walk the corridors in suits, debating with awe, to becoming one of them—and now, having the honor of serving as Secretary General of the school’s signature Model United Nations. This thrilling journey is culminating for me in this grand event, but for you, it’s only just beginning.
            </p>
            <p>On April 28, you will get introduced to an exhilarating world of debating, discussing, lobbying, crisis resolution, and moreover, the super fun experience that is Model United Nations. 
            </p>
            <p>Model United Nations might sound intimidating. They at times are! But at Lilavatibai Podar High School, we foster an environment of resilience and strength, and you, dear delegate, are no less! Every single delegate has potential to excel; from debate to paperwork to lobbying, you will discover your flair!
            </p>
            <p>Remember, this event isn’t about winning or losing; it’s about discovering your flair, your passion, and what makes you you. Go there, be passionate, and debate. 
            </p>
            <p>As the delegate who was asked to represent a terrorist organisation in his first conference, I am no stranger to MUNs throwing lemon trees at you instead of lemons. But as they say, when life gives you lemons, make lemonade. 
            </p>
            <p>As my Deputy Secretary General put it, you don’t need to know every UN clause or have a perfect speech memorised. You just need to be curious, open-minded, and brave enough to raise your hand.
            </p>
            <p>I am looking forward to seeing you on April 28th, and remember: Don’t let anyone put you down. Be bold, be you. 
            </p>
            <p>Yours truly,<br>
                Arjun Patel<br>
                Secretary General<br>
                Statecraft 2025</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif;">LETTER FROM THE</h1>
          <h1 id="letter-secondary-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif;">DEPUTY SECRETARY-GENERAL</h1>
          <div class="col-12" id="marginadd">
            
            <br>
            <br>


            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/thalaiva.jpg' %}">
            <h3 id="secgen-name">Para Thanavala,</h3>
            <h3 id="secgen">Deputy Secretary-General</h3>
        
            <br>
            <br>

            <p>Dear Delegates,</p>
            <p>Welcome to Statecraft 2025—where diplomacy meets drama, resolutions meet resistance, and caffeine meets crisis.</p>
            <p>I’m Para Thanavala, your Deputy Secretary-General, and let me start by saying: I love politics. Like, genuinely. The debates, the nuance, the chaos, the coffee-fueled midnight unmoderated caucuses—every single bit of it. And I’m thrilled to help you fall in love with it too.
            </p>
            <p>Now, here’s what I want you to know: I walk into every room knowing exactly who I am, and I want you to do the same. Whether this is your first committee or your fifth, this is your arena. Your space to grow, to mess up gloriously, to fight passionately, and to come out stronger.
            </p>
            <p>MUNs can be intimidating. But here’s the twist: it’s also where confidence is built. It’s where delegates who once whispered their policy points end up commanding entire blocs. And I want to be that safe corner in the storm for you—the person you can ask anything, talk through strategies with, or just find for a pep talk and help with rules of procedure.
            </p>
            <p>You don’t need to know every UN clause or have a perfect speech memorized. You just need to be curious, open-minded, and brave enough to raise your hand.
            </p>
            <p>So go in loud. Go in curious. Go in as you are.</p>
            <p>And if anyone tells you you’re "too much" for MUN? Tell them to take it to the committee floor—I’ll back you. This is your space. And I’m here—every step of the way—to help you thrive in it.
            </p>
            <p>Let’s make diplomacy daring. Let’s make this unforgettable.
            </p>

            <p>With conviction, clarity, and confidence,<br>
                Para Thanavala,<br>
                Deputy Secretary-General<br>
                Statecraft 2025.</p>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1 id="letter-titlemob" style="font-family:'Special Gothic Expanded One', sans-serif; color:#7da2c7;">STATECRAFT INTRODUCTION VIDEO</h1>
      <h1 id="letter-title" style="font-family:'Special Gothic Expanded One', sans-serif; color:#7da2c7;">STATECRAFT INTRODUCTION VIDEO</h1>

      <br>
  <br>
      <video style="width:100%; height:auto;" controls><source src="{% static 'video/statecraftintro.mp4'%}"></video>
    </div>
  </div>
</div>

<br>
  <br>
  <br>
  <br>

  

  

  <lottie-player
  src="{% static 'lottie/dhoomagain.json' %}"
  background="transparent"
  autoplay
  speed="0.75"
  id="themereveal"
  >

</lottie-player>

<script>
    LottieInteractivity.create({
      player: '#themereveal',
      mode: 'play',
      actions: [
        {
          visibility: [0,1],
          type: 'stop',
          frames: [754],
        },
      ]
    });
  </script>





{% endblock %}

