{% extends 'layout.html' %}

{% block title %}
  <title>Organising Committee</title>
{% endblock %}

{% block content %}

{% load static %}

<br>
<br>

<div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-title">UNDER SECRETARY-GENERALS</h1>
        <h1 id="letter-secondary-title"></h1>
          <div class="col-6" id="marginadd">
            
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/jiya.jpg' %}">
            <h3 id="secgen-name">Jiya Sampat,</h3>
            <h3 id="secgen">Under Secretary-General of Media</h3>
          </div>
          <div id="actual-letter" class="col-6">
            <p>Introducing Jiya Sampat, anyone's go-to social media and creative genius. With a crafty sense of humour and wit, you know that when you're with her, your entire day will become better. This sense of humour is balanced by the fact that when it comes to politics or even sitcoms, she can keep you engaged for hours on end. You can expect everything and more from her, whether it's the best reel you've seen in your entire life, the latest gossip, or even an impromptu karaoke session of the entire Hamilton and Mamma Mia playlist.<br><br>
              Jiya has an incredible work ethic, being able to finish work not just quickly, but with amazing quality and behind all of this is, is her love for McDonalds. Her laptop has a love-hate relationship with her, somehow managing to have issues when it's needed the most, but regardless, she manages to figure something out. But this isn't even where Jiya's hobbies end, as she even manages to make time to create some of the best art you will lay your eyes on.<br><br> A sophisticated music taste, a passion for the arts, a love for social media, and a track record of helping make Statecraft 2024's social media page amazing. All this and more make her the perfect fit for Under-Secretary General for Media in Statecraft 2025.</p>          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
     
          
          <div id="actual-letterp2" class="col-6">
            <p>Introducing Nabeel Ranawadia, our self-proclaimed Percy Jackson. The embodiment of confidence, personality and witty remarks - Nabeel is the friend you can rely on for almost anything, including a good laugh. His charm, mixed with his brains and sense of humour make him a delightful person to talk to.<br><br> Nabeel can yap about anything - from football to “Suits” and books to life advice - you name it! He’s the heartbeat of everything he’s apart of and his passion and vigour to be the best is as infectious as he is. His talented and sagacious persona make him a perfect fit to be the Under-Secretary General of Administration in Statecraft 2025.</p>
            </div>
            <div class="col-6" id="marginadd">
            <img id="parakiimg" class="img-thumbnail" src="{% static 'image/nabli.jpg' %}">
            <h3 id="secgen-name">Nabeel Ranawadia,</h3>
            <h3 id="secgen">Under Secretary-General of Administration</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">

        <h1 id="letter-secondary-title"></h1>
          <div class="col-6" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/lele.jpg' %}">
            <h3 id="secgen-name">Shrika Lele,</h3>
            <h3 id="secgen">Under Secretary-General of Operations</h3>
          </div>
          <div id="actual-letter" class="col-6">
            <p>Shrika Lele, the Chairperson of ECOSOC and USG Operations, is your ideal pillar of support and trust and probably the realest person you’ll ever meet. The minute you meet her, you feel inclined to drop all of your problems aside and lean on her. A professional athlete for 9 years, she consistently displays efficiency, wit and humour in every task assigned to her way before time- she is, after-all the most punctual person in the room. With the strongest personality, there is nothing that can veer her off track.<br><br> Facing a dark time? Don't worry, she'll write you a long paragraph and will instantly bring a smile to your face. Being the 2024-25 ICSE Head Girl, she leads not by command, but by the quiet conviction of knowing who she is. Her confidence doesn’t need volume, it speaks through her presence itself.</p>
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-title">DEPARTMENT HEADS</h1>
        <h1 id="letter-secondary-title"></h1>
          <div class="col-6" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/grandson.jpg' %}">
            <h3 id="secgen-name">Ahona Ganguly,</h3>
            <h3 id="secgen">Head of Delegate Affairs</h3>
          </div>
          <div id="actual-letter" class="col-6">
            <p>Meet Ahona -  the official Head of Delegate Affairs, the unofficial Chief Vibes Officer for Statecraft 2025 and everyone’s favourite person to be with. With laughter that can be heard oceans away and a heart as big as her love for her cat Megatron, Ahona’s the glue that holds everyone together.<br><br> She’s someone that can make you cry laughing with the quirkiest jokes known to mankind, or give you the biggest, warmest hugs and a shoulder to cry on when you need them. A literary enthusiast with a talent for being extremely off key during karaoke, she has everything you need to keep you entertained. With an unwavering passion to do everything the best she possibly can, Ahona’s born to reach for the stars. Everyone needs an Ahona in their lives and so does Statecraft.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
     
          
          <div id="actual-letterp2" class="col-4">
            <p>If there’s a mic around, Geet’s probably already on it or behind the camera directing the scene. As the Creative Head of Statecraft MUN, she brings a blend of storytelling, stage presence, and serious creative firepower. With a long love affair with public speaking, acting, direction, and filmmaking, she’s the kind of person who’ll win an elocution trophy in the morning and wrap a short film by sunset. Expect thoughtful chaos, cinematic reels, and a MUN experience that hits different.</p>          
        </div>
          <div class="col-6" id="marginadd">
            
            <img id="parakiimg" class="img-thumbnail" src="{% static 'image/gaana.jpg' %}">
            <h3 id="secgen-name">Geet Motiani,</h3>
            <h3 id="secgen">Department Head of Creatives</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="letter-secr" style="background-color:transparent">
          
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-secondary-title"></h1>
          <div class="col-6" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/no.jpg' %}">
            <h3 id="secgen-name">Yasshita Karamchandani,</h3>
            <h3 id="secgen">Head of Creatives</h3>
          </div>
          <div id="actual-letter" class="col-6">
            <p>Yasshita has been drawing since she was 3, and her passion for designing shines through in everything she does—no surprise she's one of the Creatives Head of Statecraft. Yasshita is one of those people who radiates positivity and enthusiasm wherever she goes. She’s got a genuine excitement for life’s little joys - whether it’s capturing really cool photos, hanging out with her friends, or simply appreciating the beauty around her — especially in her work. What really stands out about her is how seriously she takes self-improvement - she’s always pushing herself to be better, learn more, and grow.
              PS: If you have an iPhone, steer clear of her unless you want your gallery SPAMMED with random quirky yasshita pictures. What did I say? Classic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--mobile pages-->

  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif; color:#7da2c7;">UNDER SECRETARY-GENERALS</h1>
          <h1 id="letter-secondary-titlemob" style="font-family:'Poppins', sans-serif; color:#7da2c7;"></h1>
          <div class="col-12" id="marginadd">
            
            <br>
            <br>


            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/jiya.jpg' %}">
            <h3 id="secgen-name">Jiya Sampat,</h3>
            <h3 id="secgen">Under Secretary-General of Media</h3>
        
            <br>
            <br>


            <p>Introducing Jiya Sampat, anyone's go-to social media and creative genius. With a crafty sense of humour and wit, you know that when you're with her, your entire day will become better. This sense of humour is balanced by the fact that when it comes to politics or even sitcoms, she can keep you engaged for hours on end. You can expect everything and more from her, whether it's the best reel you've seen in your entire life, the latest gossip, or even an impromptu karaoke session of the entire Hamilton and Mamma Mia playlist.<br><br>
                Jiya has an incredible work ethic, being able to finish work not just quickly, but with amazing quality and behind all of this is, is her love for McDonalds. Her laptop has a love-hate relationship with her, somehow managing to have issues when it's needed the most, but regardless, she manages to figure something out. But this isn't even where Jiya's hobbies end, as she even manages to make time to create some of the best art you will lay your eyes on.<br><br> A sophisticated music taste, a passion for the arts, a love for social media, and a track record of helping make Statecraft 2024's social media page amazing. All this and more make her the perfect fit for Under-Secretary General for Media in Statecraft 2025.</p>          </div>

          
          
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
          <div class="col-12" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/nabli.jpg' %}">
            <h3 id="secgen-name">Nabeel Ranawadia,</h3>
            <h3 id="secgen">Under Secretary-General of Administration</h3>

            <br>
            <br>

            <p>Introducing Nabeel Ranawadia, our self-proclaimed Percy Jackson. The embodiment of confidence, personality and witty remarks - Nabeel is the friend you can rely on for almost anything, including a good laugh. His charm, mixed with his brains and sense of humour make him a delightful person to talk to.<br><br> Nabeel can yap about anything - from football to “Suits” and books to life advice - you name it! He’s the heartbeat of everything he’s apart of and his passion and vigour to be the best is as infectious as he is. His talented and sagacious persona make him a perfect fit to be the Under-Secretary General of Administration in Statecraft 2025.</p>

        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
          <div class="col-12" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/lele.jpg' %}">
            <h3 id="secgen-name">Shrika Lele,</h3>
            <h3 id="secgen">Under Secretary General of Operations</h3>

            <br>
            <br>

        
            <p>Shrika Lele, the Chairperson of ECOSOC and USG Operations, is your ideal pillar of support and trust and probably the realest person you’ll ever meet. The minute you meet her, you feel inclined to drop all of your problems aside and lean on her. A professional athlete for 9 years, she consistently displays efficiency, wit and humour in every task assigned to her way before time- she is, after-all the most punctual person in the room. With the strongest personality, there is nothing that can veer her off track.<br><br> Facing a dark time? Don't worry, she'll write you a long paragraph and will instantly bring a smile to your face. Being the 2024-25 ICSE Head Girl, she leads not by command, but by the quiet conviction of knowing who she is. Her confidence doesn’t need volume, it speaks through her presence itself.</p>

        </div>
      </div>
    </div>
  </div>

  <br>
  <br>



  


  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
      <div class="row align-items-start">
        <h1 id="letter-titlemob" style="font-family: 'Special Gothic Expanded One', sans-serif;">DEPARTMENT HEADS</h1>
          <h1 id="letter-secondary-titlemob" style="font-family:'Poppins', sans-serif;"></h1>
          <div class="col-12" id="marginadd">
            <br>
            <br>

            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/grandson.jpg' %}">
            <h3 id="secgen-name">Ahona Ganguly,</h3>
            <h3 id="secgen">Head of Delegate Affairs</h3>
        
            <br>
            <br>


            <p>Meet Ahona -  the official Head of Delegate Affairs, the unofficial Chief Vibes Officer for Statecraft 2025 and everyone’s favourite person to be with. With laughter that can be heard oceans away and a heart as big as her love for her cat Megatron, Ahona’s the glue that holds everyone together.<br><br> She’s someone that can make you cry laughing with the quirkiest jokes known to mankind, or give you the biggest, warmest hugs and a shoulder to cry on when you need them. A literary enthusiast with a talent for being extremely off key during karaoke, she has everything you need to keep you entertained. With an unwavering passion to do everything the best she possibly can, Ahona’s born to reach for the stars. Everyone needs an Ahona in their lives and so does Statecraft.</p>

          
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">

      <div class="row align-items-start">
          <div class="col-12" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/gaana.jpg' %}">
            <h3 id="secgen-name">Geet Motiani,</h3>
            <h3 id="secgen">Head of Creatives</h3>
        
            <br>
            <br>


            <p>If there’s a mic around, Geet’s probably already on it or behind the camera directing the scene. As the Creative Head of Statecraft MUN, she brings a blend of storytelling, stage presence, and serious creative firepower. With a long love affair with public speaking, acting, direction, and filmmaking, she’s the kind of person who’ll win an elocution trophy in the morning and wrap a short film by sunset. Expect thoughtful chaos, cinematic reels, and a MUN experience that hits different.</p>          

          
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="container text-center" id="secrmoblet" style="background-color:transparent">
            
    <div id="textofletter">
        
      <div class="row align-items-start">
          <div class="col-12" id="marginadd">
            
            <img id="patelkaimg" class="img-thumbnail" src="{% static 'image/no.jpg' %}">
            <h3 id="secgen-name">Yasshita Karamchandani,</h3>
            <h3 id="secgen">Head of Creatives</h3>

            <br>
            <br>


            <p>Yasshita has been drawing since she was 3, and her passion for designing shines through in everything she does—no surprise she's one of the Creatives Head of Statecraft. Yasshita is one of those people who radiates positivity and enthusiasm wherever she goes. She’s got a genuine excitement for life’s little joys - whether it’s capturing really cool photos, hanging out with her friends, or simply appreciating the beauty around her — especially in her work. What really stands out about her is how seriously she takes self-improvement - she’s always pushing herself to be better, learn more, and grow.
              PS: If you have an iPhone, steer clear of her unless you want your gallery SPAMMED with random quirky yasshita pictures. What did I say? Classic.</p>

        

          
        </div>
      </div>
    </div>
  </div>

{% endblock %}