{% extends 'layout.html' %}

{% block title %}
  <title>UNHRC</title>
{% endblock %}


{% block content %}

{% load static %}
      <br>
      <br>



      <style>
        body {
          background-color: #036ab0;
        }
      </style>
  
<div id="commbox">
    <div class="container-fluid">
        <div  id="committeebox" class="row" style="border-bottom: solid 4px white;">
          <div class="col-8">
            <h1  id="comm-title" style="font-family: 'Special Gothic Expanded One', sans-serif; font-weight: 900px; color:white;">UNITED NATIONS HUMAN RIGHTS COUNCIL</h1>
          </div>    
  
            <div class="col-4">
               <img style="border-radius: 800px; width:85%; height:auto; border:7px solid #036ab0;" src="{% static 'image/unhrc.png'%}">
             </div>     
        </div>
      <div class="row" style="text-align: center;">
        <h1  id="latinquote" style="font-style:italic; color:white;">' Pro liberatione omnium gentium!'</h1>
      </div>
      </div>
  
      <br>
      <br>
      <br>
  
      <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
        <div class="row">
          <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
            <h1 class="info" >Freeze Date: </h1>
          </div>
          
          <div class="col">
            <h1 class="info" style="color:white;  padding:10px;"> September 25, 1957</h1>
          </div>
        </div>
      </div>
  
      <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
        <div class="row">
          <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
            <h1 class="info"><br><br>Agenda: </h1>
          </div>
          
          <div class="col">
            <h1 class="info" style="color:white; padding:10px;">Racism and Segregation in the Americas<br><br>
              Little Rock Nine
              
              </h1>
          </div>
        </div>
      </div>
  
      <br>
      <br>
      <br>
  
      <div id="committee-desc" class="container text-center" style="padding: top 30px; color:white;">
        <p>Welcome to the United Nations Human Rights Council, where the global community is challenged with addressing racism and segregation in the Americas. With a focus on the Little Rock Nine, this committee will debate measures to combat racial inequality and push for social change in the face of deep-seated systemic racism.
        </p>
      </div>
  
      <br>
      <br>
  
      <div class="container text-center">
        <h1 id="commsrctitle" style="font-family: 'Special Gothic Expanded One', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
        <br>
        </div>
</div>

<div id="commbox-mob">
  <div class="container-fluid">

    <div class="row" id="committeebox">
      <div class="container text-center">
        
        <div class="col-12">
        
          <img style="border-radius: 200px; width:100%; height:auto;" src="{% static 'image/unsc.png'%}">
        
          <h1 id="comm-title" style="font-family: 'Special Gothic Expanded One', sans-serif; font-weight: 900px; color:white; align-self:center;">UNITED NATIONS HUMAN RIGHTS COUNCIL</h1>         
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <h1  id="latinquote" style="font-style:italic; color:white;">' Pro liberatione omnium gentium!'</h1>
    </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info" >Freeze Date: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white;  padding:10px;"> September 25, 1957</h1>
        </div>
      </div>
    </div>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info"><br><br>Agenda: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white; padding:10px;">Racism and Segregation in the Americas<br><br>
            Little Rock Nine
            
            </h1>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div id="committee-desc" class="container text-center" style="padding: top 30px; color:white;">
      <p>Welcome to the United Nations Human Rights Council, where the global community is challenged with addressing racism and segregation in the Americas. With a focus on the Little Rock Nine, this committee will debate measures to combat racial inequality and push for social change in the face of deep-seated systemic racism.
      </p>
    </div>

    <br>
    <br>

    <div class="container text-center">
      <h1 id="commsrctitle" style="font-family: 'Special Gothic Expanded One', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
      <br>
      </div>
</div>

<div class="container align-items-center" id="commsrc">
  <div class="row">
   
    <div class="col" >
      <div class="card" >
        <img src="{% static 'image/human.jpg' %}">
        <a target="_blank" href="https://drive.google.com/drive/folders/1bPrgZIgbocIz-MODX8tc60izGu8I4UhI?usp=drive_link" class="btn btn-primary stretched-link" style="background: transparent; color:transparent;"></a>
        </div>
      </div>
    </div>

  </div>


{% endblock %}