{% extends 'layout.html' %}

{% block content %}

{% load static %}
      <br>
      <br>



      <style>
        body {
          background-color: #036ab0;
        }
      </style>
  
  <div class="container-fluid">
      <div  id="committeebox" class="row" style="border-bottom: solid 4px white;">
        <div class="col-8">
          <h1  id="comm-title" style="font-family: 'Poppins', sans-serif; font-weight: 900px; color:white;">UNITED NATIONS HUMAN RIGHTS COUNCIL</h1>
        </div>    

          <div class="col-4">
             <img style="border-radius: 800px; width:85%; height:auto; border:7px solid #036ab0;" src="{% static 'image/unhrc.png'%}">
           </div>     
      </div>
    <div class="row" style="text-align: center;">
      <h1  id="latinquote" style="font-style:italic; color:white;">' Pro liberatione omnium gentium!'</h1>
    </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info" >Freeze Date: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white;  padding:10px;"> September 25, 1957</h1>
        </div>
      </div>
    </div>

    <div class="container text-center" style="width:55%; height:auto; border:white 2px solid;">
      <div class="row">
        <div class="col" style="background-color: white; color:black;  padding:10px; border: 2px rgb(0, 0, 0) solid;">
          <h1 class="info"><br><br>Agenda: </h1>
        </div>
        
        <div class="col">
          <h1 class="info" style="color:white; padding:10px;">Racism and Segregation in the Americas<br><br>
            Little Rock Nine
            
            </h1>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div id="committee-desc" class="container text-center" style="padding: top 30px; color:white;">
      <p>The UN Human Rights Council (UNHRC), established in 2006, is the main intergovernmental body within the UN system responsible for promoting and protecting human rights globally, addressing violations, and making recommendations.
      </p>
    </div>

    <br>
    <br>

    <div class="container text-center">
      <h1 style="font-family: 'Poppins', sans-serif; color:white; font-weight:900px;">COMMITTEE RESOURCES</h1>
      <h4 style="font-family: 'Poppins', sans-serif; color:white; font-weight:900px;">will be provided at a later date...</h4>
      <br>
      <br>
      <br>

      <!-- <div class="row">
       
        <div class="col">
          <div class="card" style="width: 35%">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Study Guide</h5>
              <p class="card-text">The study guide for the committee provides all the neccesary information regarding the committee.</p>
              <a href="#" class="btn btn-primary stretched-link">Go to the Study Guide</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 35%;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Committee Matrix</h5>
              <p class="card-text">The matrix for the committee provides all the allocations in the committee.</p>
              <a href="#" class="btn btn-primary stretched-link">Go to the Committee Matrix</a>
            </div>
          </div>
        </div>

      </div>
    </div> -->


{% endblock %}